################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StateMachine/bin
/StateMachine/obj/Debug
/.vs
/Nuget
